<div>
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
  <% end %>
</div>

<%= render 'books/list', book: @book , user: @user%>

<% @books.each do |book| %>
<div>
  <p>Title:<%= book.title %></p>
  <p>Opinion:<%= book.body %></p>
  <p>Name:<%= book.user.name %></p>
</div>
<% end %>
