<%= render 'books/list', book: @book %>

<div>
  <h3>User info</h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name:<%= @user.name %></p>
  <p>introduction:<%= @user.introduction %></p>
  <% if @user == current_user %>
    <p><%= link_to "Profile", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>Title:<%= book.title %></p>
  <p>Opinion:<%= book.body %></p>
  <p>Name:<%= book.user.name %></p>
</div>
<% end %>