<div>
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
  <% end %>
</div>

<div class="mx-auto">
  <h1>welcome to Bookers!!</h1>
  <p>In Bookers,<br>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!</p>
</div>

  <% if user_signed_in? %>
  <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to "Log in", user_path(@user.id), class: "btn btn-primary w-50", type: "button" %>
      <%= link_to "Sign up", user_path(@user.id), class: "btn btn-primary w-50", type: "button" %>
  <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary", type: "button" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary", type: "button" %>
  </div>
  <% end %>
